@(sessions: Seq[models.Session], title: String)(implicit request: play.api.mvc.RequestHeader)

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="@routes.Assets.versioned("javascripts/main.js")" defer></script>
    <meta name="csrfToken" content="@play.filters.csrf.CSRF.getToken.map(_.value).getOrElse("")">


</head>
<body>
    <div class="session-history-container">
        <h1>@title</h1>

        <!-- Session History -->
        <div class="session-history">
            <h3>Session History</h3>
            <ul>
                @for(session <- sessions) {
                    <li>
                        <div><strong>Start Time:</strong> @session.startTime</div>
                        <div><strong>End Time:</strong> @session.endTime.getOrElse("Ongoing")</div>
                        <div><strong>Duration:</strong> @session.duration.getOrElse(0) seconds</div>
                        <div><strong>Laps:</strong> @session.laps</div>
                        <div><strong>Streaks:</strong> @session.streaks</div>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
